# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.cache/

# Logs
*.log 

# IDEs
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Cobertura de pruebas
coverage/
coverage.xml

# Cache
.cache/